<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div>
  <% @recipes.each do |recipe| %>
    <article class="listed-recipe">
      <div style="display: flex; flex-direction: column;">
        <h3><%= link_to recipe.name, recipe_path(recipe), style: "text-decoration: none;" %></h3>
        <%= link_to "REMOVE", recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Delete recipe?",
        turbo_action: "click->delete#deleteComment"} %>
      </div>
      <span><%= truncate(recipe.description, length: 70, separator: ' ') %></span>
    </article>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
