<%= render @recipe %>

<div>
  <%= link_to "Back to recipes", recipes_path %>
</div><br><br>

<div class="sided">  
    <%= link_to "Generate shopping list", general_shopping_list_path, class: "button" %>
    <% if @recipe.user == current_user %>
      <%= link_to "Add Ingredient", new_recipe_food_path(@recipe), class: "button" %>
    <% end %>
</div>

<hr style:"background-color: grey;">
<table style: "margin: 0 auto;">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.includes(:food).each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.food.price %></td>
        <td class="sided">
          <%= link_to "Modify", edit_recipe_food_path(recipe_food) %>
          <%= link_to "Remove", recipe_food_path(recipe_food), data: {turbo_method: :delete} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
