<!DOCTYPE html>
<html>
  <head>
    <title>RailsGroupCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="margin: 0; padding: 0; color: var(--accent);"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <% if user_signed_in? %>
      <%= 
        button_to "Logout(Remove Later)", 
        destroy_user_session_path, 
        method: :delete,
        style: "background: red; color: white;"
      %>
    <% end %>
  </body>
</html>
